body{
    margin: 0;
    padding: 0;
    background: darkgray;
}




.projects{
    margin: 0 auto;
    text-align: center;
}
.projects h2{

}



.web-box{
    background: gray;
    width: 20rem;
    padding: 1rem 1rem;
    margin: 0 auto;
}
.web-link{
    background: lightgray;
    padding: 0rem 1rem;
    border: 0.5rem;
    border-style: solid;
    border-color: darkgray;
    width: 100%;
}
.web-link:hover{
    background-color: black;
    color: red;
}